#header_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 1rem;
}

#header_menu ul li {
	float: right;
	text-decoration: none;
	background-color: #cce6ff;
	border: 2px solid #1a8cff;
	border-radius: 15px;
	width: 180px;
}

#header_menu li a {
	display: block;
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#header_menu ul li a:hover:not(.active) {
	background-color: #66B2FF;
	text-decoration: none;
}

#header_menu li a:hover {
	border-radius: 15px;
}
